releases/Elegant-forest-float-grub-themes.tar.xz
releases/Elegant-forest-sharp-grub-themes.tar.xz
releases/Elegant-forest-window-grub-themes.tar.xz
releases/Elegant-mojave-float-grub-themes.tar.xz
releases/Elegant-mojave-sharp-grub-themes.tar.xz
releases/Elegant-mojave-window-grub-themes.tar.xz
releases/Elegant-mountain-float-grub-themes.tar.xz
releases/Elegant-mountain-sharp-grub-themes.tar.xz
releases/Elegant-mountain-window-grub-themes.tar.xz
releases/Elegant-wave-float-grub-themes.tar.xz
releases/Elegant-wave-sharp-grub-themes.tar.xz
releases/Elegant-wave-window-grub-themes.tar.xz
backgrounds/previews
releases/Elegant-forest-blur-grub-themes.tar.xz
releases/Elegant-mojave-blur-grub-themes.tar.xz
releases/Elegant-mountain-blur-grub-themes.tar.xz
releases/Elegant-wave-blur-grub-themes.tar.xz
